<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748724042290-het3ac2k36dib7h383bepjrcqaf2628u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748724042290-het3ac2k36dib7h383bepjrcqaf2628u</string>
	<key>API_KEY</key>
	<string>AIzaSyBAyJBhpxHdnJOHJlryIcqRHY2bTeiGMlg</string>
	<key>GCM_SENDER_ID</key>
	<string>748724042290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhi.UserHandlerApp</string>
	<key>PROJECT_ID</key>
	<string>userhandlerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>userhandlerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748724042290:ios:20882d916dcb9bfd321a2b</string>
	<key>DATABASE_URL</key>
	<string>https://userhandlerapp.firebaseio.com</string>
</dict>
</plist>